body {
    background: black;
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot');
    src: url('../fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(FaNum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

@font-face {
    font-family: "yekan";
    src: url(../fonts/Yekan.eot);
    src: url(../fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/Yekan.woff) format("woff"), url(../fonts/Yekan.ttf) format("truetype"), url(../fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal
}

.m-p {
    padding: 0!important;
    margin: 0!important;
}

body {
    background: url('../images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.experimental {
    font-family: IRANsans;
    direction: rtl;
}

.experimental h2 {
    margin: 50px 0 50px;
    padding: 0;
    font-size: 80px;
    text-align: center;
    font-weight: 500;
    color: white;
}

.experimental a {
    color: white;
    text-decoration: none;
}

.experimental i {
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
}

.experimental span {
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: white;
    text-align: justify;
    display: block;
    background: rgba(0, 0, 0, 0.7)
}

.experimental span b {
    margin: 20px 0;
    display: block;
    font-size: 25px;
    text-align: center
}

.gallery {
    margin-top: 30px;
    margin-bottom: 30px;
}

.gallery img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

.gallery div div div {
    margin-bottom: 10px;
}

.gif {
    text-align: center;
}

.gif img {
    width: 100%!important;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

.gif h2 {
    margin: 60px 0 0;
    font-family: IRANsans;
    text-align: center;
    direction: rtl;
    font-size: 50px;
    font-weight: 500;
    color: white;
}

.gif h3 {
    margin: 5px 0 60px;
    font-family: 'Fjalla One';
    text-align: center;
    direction: rtl;
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

.gif span {
    border-radius: 5px;
    display: block;
    background: rgba(0, 0, 0, 0.7)
}

.gif span p {
    padding: 0;
    margin: 0;
}

.farsi {
    font-family: IRANsans!important;
    padding: 20px 20px 10px!important;
    color: white!important;
    font-size: 17px!important;
    line-height: 27px!important;
    text-align: justify!important;
    direction: rtl!important;
}

.eng {
    font-family: IRANsans!important;
    padding: 5px 20px 0!important;
    color: white!important;
    font-size: 17px!important;
    line-height: 25px!important;
    text-align: justify!important;
    direction: rtl!important;
    text-align: center!important;
}

.eng2 {
    font-family: IRANsans;
    padding: 20px!important;
    color: white!important;
    font-size: 17px!important;
    line-height: 27px!important;
    text-align: justify;
}

.footer {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fjalla One';
}

.lb-data .lb-caption {
    font-family: IRANsans;
    color: white;
}

.lb-data .lb-number {
    display: none!important;
}

.lb-data .lb-close {
    top: 0;
    right: 50px;
    position: absolute!important;
}

.lb-data .lb-details {
    width: 100%!important;
    float: right!important;
    text-align: right!important;
    direction: rtl!important;
    line-height: 1.1em;
}

.dlB {
    font-family: IRANsans;
    color: white;
    font-size: 20px;
    text-align: center;
}

.dlB span {
    padding: 10px 20px;
    display: inline-block;
    border: solid 2px white;
}

.dlB a {
    color: white;
}

.dlB span:hover {
    background: rgba(255, 255, 255, 0.5);
}

@media only screen and (min-width: 200px) and (max-width: 500px) {}


/*			tablet and ipad size		*/

@media only screen and (min-width: 200px) and (max-width: 767px) {
    .gif img {
        width: 100%!important;
        margin-bottom: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-device-width: 321px) and (orientation: landscape) {}


/*			IPAD SIZE MAX 		*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .gif img {
        width: 60%!important;
        margin-bottom: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
    }
}


/*			DESKTOP SIZE 		*/

@media only screen and (min-width: 992px) {}